[workspace]
resolver = "2"
members = [
    "zir",
]

[workspace.package]
version = "0.0.1"
edition = "2024"
rust-version = "1.85"
license = "MIT"
repository = "https://github.com/zov-lang/zov"

[workspace.dependencies]
# Core data structures
index_vec = { version = "0.1", features = ["serde"] }
smallvec = { version = "1.13", features = ["union", "serde"] }

# Arbitrary precision integers
num-bigint = { version = "0.4", features = ["serde"] }
num-traits = "0.2"

# Serialization
serde = { version = "1.0", features = ["derive"] }

# Testing
insta = { version = "1.40", features = ["yaml"] }
serde_json = "1.0"
